.landingUA-imageContainer {
  display: flex;
  position: fixed;
  z-index: -1;
  /* width: 100%; */
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  opacity: .6;
}
.landingUA-img {
  width: 100%;
}
.image-company-landingUA{
  width: 5em;
}
.landingUA-img-company {
  border-radius: 50%;
}
.landingUA-img-company{
  width: 8em;
}
.company-name-landingUA{
  font-size: 2em;
  font-weight: bold;
}