:root{
  /* Colores */
  --primary-color: #00BCD4;
  --secondary-color:  #E0F7FA;
  --terciary-color: #B2EBF2;
  --quartary-color: #80DEE1;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}

body{
  background-color: #fff;
}
a{
  text-decoration: none;
  color: #666;
  transition: 0.5s;
}

a:hover{
  scale: 1.1;
}