.registrate {
  display: flex;
  align-items: center;
  gap: 20%;
  margin-top: -10%;
  padding: 0 10%;
  height: 100vh;
  width: 100%;
  }

.registrate-right{
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 4%;
 
}

img {
    object-fit: contain;
    height: 90%;
     width: 90%;
    }
